
/* Imports */
@import url("../main.css");
@import url("../header/header.css");
@import url("../header/navbar.css");
@import url("../footer/footer.css");
@import url("../font_imports/poppins-bold.css");
@import url("../font_imports/poppins-medium.css");

/* Declarations and Property sets */
:root {
    --clr-1: #FF0000;
    --clr-2: #FFA500;
    --clr-3: #FFFF00;
    --clr-4: #00FF00;
    --clr-5: #0000FF;
    --clr-6: #800080;
    --clr-7: #FF0080;
}

@property --set-gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-card {
    0% { --set-gradient-angle: 0deg; }
    100% { --set-gradient-angle: 360deg; }
}

/* Styling */

/* mission-statement card styling */
#mission-statement {
    border-radius : 20px;
    margin-left : 33%;
    margin-right : 33%;
    text-align : center;
    position: relative;
    background-color: #000000;
    padding-top: .1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: .1rem;
}

#mission-statement p {
    font-family: 'poppins-medium';
    font-size: 120%;
    color : #ffffff;
}

#mission-statement a {
    text-decoration : none;
    color : #ffffff;
}

/* misssion-statement card animations */
#mission-statement::before,
#mission-statement::after {
    content: "";
    position: absolute;
    inset: -.05rem;
    background: var(--clr-6);
    border-radius: inherit;
    z-index: -1;
    transition: opacity .5s;
    background: conic-gradient(
        from var(--set-gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-6),
        var(--clr-7),
        var(--clr-1)
    );
    animation: rotate-card 40s linear infinite;
}
#mission-statement::after {
    filter: blur(1.5rem);
}

/* down carrot SVG styling */
#down-carrot {
    margin-left : 25%;
    margin-right : 25%;
    display : flex;
    justify-content : center;
    align-items : center;
}

#down-carrot a{
    margin-top: 10%;
    color : #ffffff;
    text-decoration-line : none;
}

/* SDC title card styling */
#SDC-title {
    position: relative;
    margin-top: 10%;
    margin-left : 25%;
    margin-right : 25%;
    display : flex;
    justify-content : center;
    align-items : center;
    
}

#SDC-title h1{
    font-family: 'poppins-bold';
    font-size: 5rem;
    color: #ffffff
}

hr.divider {
    border: 0px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    height: 4px;
}

