#header-nav-wrapper {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin-right: 30px;
    margin-left: 150px;
}

#header-nav-wrapper-logo-link {
    display: inline-block;
    display: block !important;
    width: 10%;
    padding-right: 0%;
}

#header-sdc-logo-blkswht {
    display: block !important;
    width: 150px;
    min-width: auto;
    height : auto;
}