#navbar-wrapper {
    text-align: right;
}

#navbar-wrapper a {
    color : #FFFFFF;
    text-decoration: none;
}

#navbar-wrapper a:hover {
    color: #7e3f85;
    background-color: #4fb671;
}

#navbar-links {
    display: inline-flex;
}

#navbar-links li {
    margin-right: 10px;
}