@font-face {
    font-family: 'sdc';
    src: url("FIGHT.ttf") format("truetype");
}

@font-face {
    font-family: 'sora-regular';
    src: url("static/Sora-Regular.ttf")
}

@font-face {
    font-family: 'sora-semibold';
    src: url("static/Sora-SemiBold.ttf");
}

@font-face {
    font-family: 'sora-medium';
    src: url("static/Sora-Medium.ttf");
}

@font-face {
    font-family: 'sora-bold';
    src: url("static/Sora-Bold.ttf");
}