@import url("font.css");

body {
    margin: 0;
}

header {
    background-color: grey;
    display: flex; /* Makes items inline-horizontal */
    justify-content: space-between; /* Spaces the contents */
    align-items: center; /* Aligns items vertically to the center */
    padding-top: 1vh; /* Adding some spacing on top of header */
}

header > logo > img {
    margin-left: 2vw;
    height: 13vh; /* Sizing the SVG logo */
    width: auto;
}

@media (max-width: 782px) { /* Gets rid of the record view if screen width is too small */
    header > records {
        display: none;
    }
}

header > records > ul {
    padding: 0; /* Removed unecessary padding */
    margin-top: 0;
    margin-bottom: 0;
}

header > records > ul > ul {
    display: flex; /* Makes [sex record] inline */
    justify-content: space-between; /* Adds some space between sex and record*/
    list-style-type: none; /* Gets rid of bullets */
    padding: 0; /* Removed unnecessary padding */
}

header > records > ul > ul:last-child {
    margin-top: 2vh;
}

header > records > ul > ul > li:first-child {
    margin-right: 3vw;
}

header > records > ul > ul > li > p {
    font-size: 3.5vh;
    font-family: 'sdc';
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 522px) { /* Gets rid of standard nav view if screen is too small */
    header > nav {
        display: none;
    }
}

header > nav {
    margin-right: 4vw;
}

header > nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

header > nav > ul > li:not(:last-child) {
    margin-right: 5vw;
}

header > nav > ul > li > a {
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    font-family: 'sdc';
}

header > nav > ul > li > a > p {
    margin-top: 0;
    margin-bottom: 0;
}

header > nav > ul > li > a > p:first-child {
    margin-right: 1.5vh;
}

header > hamburger {
    display: inline-block;
    cursor: pointer;
    margin-right: 3vh;
}

header > hamburger > .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3vh;
}

header > hamburger > .bar1 {
    margin-top: 0;
}

header > hamburger > .bar3 {
    margin-bottom: 0;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media (min-width: 523px) { /* The hamburger icon will only display when screen is small enough */
    header {
        flex-wrap: wrap;
    }
    
    header > hamburger {
        display: none;
    }
}

.mobilemenu {
    display: none;
    background-color: #333;
    color: white;
    width:100%;
    top: 100%;
    left: 0;
    position: relative;
}

.mobilemenu ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobilemenu ul li {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.mobilemenu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

main {
    height: 85.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main > div {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

main > div > h1 {
    font-size: 10vh;
    font-family: 'sdc';
    display: inline-flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

main > div > h1:not(:last-child) {
    margin-right: 2.5vh;
}

.carrot-down {
    height: 5vh;
    width: auto;
    margin-bottom: 1vh;
}

.carrot-up {
    height: 5vh;
    width: auto;
    margin-top: 1vh;
    transform: rotate(180deg);
}

leads {
    min-height: 100vh;
    max-height: none;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

leads > div {
    display: inline-flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 45vw;
}

leads > div > h1 {
    font-size: 8vh;
    font-family: 'sdc';
    margin-top: 0;
    margin-bottom: 0;
}

leads > div > h1:not(:last-child) {
    margin-right: 2.5vh;
}

leads > leadcards {
    min-height: 76vh;
    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    display: flex;
    height: 16vh;
    width: 16vh;
    background-image: url('profile_images/blank.jpg');
    background-size: cover;
    border-radius: 50%;
}

#om {
    background-image: url('profile_images/IMG_2186.jpg');
    background-size: 150%;
    border-radius: 50%;
    background-position: 30%;
}

.r1 {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.r1 .card:not(:last-child) {
    margin-right: 5vw;
}

.r2 {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.r2 .card:not(:last-child) {
    margin-right: 5vw;
}

.r3 {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.r3 .card:not(:last-child) {
    margin-right: 5vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 2vh 0vh 2vh;
    border-radius: 2vh;
    transition: width .5s ease, min-height .5s ease, background-color 0.5s ease;
    position: relative;
    overflow: hidden;
    margin-right: auto;
}

.card.expanded {
    width: 92vw;
    min-height: 76vh;
    margin-right: 0vh;
    background-color: #33333377;
}

.card.hidden {
    display: none;
}

.card:hover {
    background-color: #33333377;
}

.card > p {
    font-family: 'sora-regular';
}

.name {
    margin-top: 0vh;
    margin-bottom: .75vh;
}

.title {
    margin-top: .75vh;
    margin-bottom: 0vh;
}

.card > p:last-child {
    margin-top: 1vh;
}

.close {
    display: none;
    position: absolute;
    right: 0;
    height: 6vh;
    width: auto;
    cursor: pointer;
}

.info {
    padding-top: 4vh;
    font-size: 3vh;
    font-family: 'sora-regular';
}

.info {
    display: none;
    font-size: 3vh;
}

.links {
    list-style-type: none;
    display: none;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    min-width: 25vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}

.links > li:not(:last-child) {
    margin-right: 1vh;
}

.links > li:not(:first-child) {
    margin-left: 1vh;
}

#phone {
    height: 6vh;
    width: auto;
}

#email {
    height: 6vh;
    width: auto;
}

roles {
    min-height: 100vh;
    max-height: none;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

roles > h1 {
    font-size: 8vh;
    font-family: 'sdc';
    margin-top: 0;
    margin-bottom: 0;
}

.cardscontainer {
    min-height: 76vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rolecards {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    min-height: 76vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rolecardslistitem {
    width: 32%;
    min-height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rolecontainer {
    background-color: #898989;
    min-height: 76vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    transition: background-color 0.4s ease;
}

.rolecontainer:hover {
    background-color: #6f6f6f;
}

.titlecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.roletitle {
    font-family: 'sdc';
    font-size: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vh;
}

.closeroles {
    display: none;
    height: 6vh;
    width: auto;
    margin-right: .5vh;
    margin-top: .5vh;
    cursor: pointer;
    transition: 0.3s ease;
}

.closeroles:hover {
    height: 6.5vh;
    width: auto;
}

.contentcontainer {
    min-height: 60vh;
    width: 95%;
    display: none;
    justify-content: center;
    margin-bottom: 2vh;
    background-color: aliceblue;
    border-radius: 3vh;
}

.info {
    min-height: 100%;
    width: 50%;
    display: flex;
    margin-left: 1vh;
    margin-right: 1vh;
}

.image {
    min-height: 100%;
    width: 50%;
    display: flex;
    background-image: url('media/pusher-card-image.jpg');
    background-size: cover;
    border-radius: 0vh 3vh 3vh 0vh;
}



