/* TODO: Github Issue 17: Add comments to all lines/blocks of code for easier development */
@import url("font.css");
@import url("styles/main.css");
@import url("styles/leads.css");
@import url("styles/roles.css");
@import url("styles/join.css");

body {
    margin: 0;
    /* overflow-x: hidden; */
}

html {
    scroll-snap-type: y mandatory;
    background-color: #000000;
}

.carrot-down {
    height: 5vh;
    width: auto;
    margin-bottom: 1vh;
    cursor: pointer;
    filter: invert(100%);
}

.carrot-up {
    height: 5vh;
    width: auto;
    margin-top: 1vh;
    transform: rotate(180deg);
    cursor: pointer;
    filter: invert(100%);
}