/* TODO: Clean this up and refactor code */


/* imports */
@import url("font_imports/poppins-medium.css"); /* font import */
@import url("font_imports/poppins-bold.css");
@import url("header/header.css"); /* header styling import */
@import url("body/body.css");

html {
    background-color: #000002;
    height: 100%;
}

.invert {
    filter: invert(100%);
}

.mentions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

.mentions img {
    width: 10vh;
    height: auto;
}

.contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

.contributors p {
    font-size: 2.3vh;
    color: #FFFFFF;
}

.copyright p {
    font-size: 2.3vh;
    color: #FFFFFF;
}
