#footer-wrapper {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-links {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

footer {
    position : fixed;
    width : 100%;
}