#associations {
    display: flex;
    justify-content: center;
}

#associations li {
    display: inline;
    margin-right: 10px;
}

#credits {
    display : flex;
    justify-content: center;
    align-items: center;
}

#credits li {
    display: inline;
    margin-right: 10px;
}

#copyright-contact-tag-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position : fixed;
    bottom : 0;
    width:100%;
}