#footer-wrapper {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

#copyright-tag {
    color : #ffffff;
}

footer {
    width : 100%;
}

#sdc-genbod-icon {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
    width: 80px;
    height: auto;
    
}

#twitter-icon {
    width: 50px;
    height: auto;
}
#facebook-icon {
    width: 50px;
    height: auto;
}

#cmu-icon {
    width: 80px;
    height: auto;
}

#baa-icon {
    width: 50px;
    height: auto;
}

#instagram-icon {
    width: 50px;
    height: auto;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-links li {
    margin-right: 50px;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

#contact-us {
    margin-bottom: 20px;
}
