@import url("navbar.css"); /* navbar import */
@import url("logo.css"); /* logo import */

header {
    margin-top: 15px;
    margin-right: 35px;
    margin-left: 24px;
    margin-bottom: 10px;
}

header {
    justify-content: space-between;
}