/* TODO: Clean this up */

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    cursor: default;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-item a {
    font-family: 'poppins-medium';
    font-size: 22px;
    color: #FFFFFF;
    transition: font-size .3s ease-in-out;
}

.nav-item-current a {
    font-family: 'poppins-medium';
    font-size: 22px;
    color: #FFFFFF;
    transition: font-size .35s ease-in-out;
}

.nav-item a:hover {
    font-size: 24px;
}

.nav-item-current a:hover {
    font-size: 24px;
}


:root {
    --clr-1: #FF0000;
    --clr-2: #FFA500;
    --clr-3: #FFFF00;
    --clr-4: #00FF00;
    --clr-5: #0000FF;
    --clr-6: #800080;
    --clr-7: #FF0080;
}

@property --set-gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate-card {
    0% { --set-gradient-angle: 0deg; }
    100% { --set-gradient-angle: 360deg; }
}

.nav-item-current {
    background-color: #000002;
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

@media(min-width: 981px){
.nav-item-current::before,
.nav-item-current::after {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: 10px;
    background: conic-gradient(
        from var(--set-gradient-angle),
        var(--clr-1),
        var(--clr-2),
        var(--clr-3),
        var(--clr-4),
        var(--clr-5),
        var(--clr-6),
        var(--clr-7),
        var(--clr-1)
    );
    animation: rotate-card 40s linear infinite;
    z-index: -1; /* Move the pseudo-element behind the .nav-item-active */
}

.nav-item-current::after {
    filter: blur(13px);
}
}


/* ------------------------------------------------------------------------ */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    border-radius: 20px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.hamburger.active .bar {
    height: 4px;
    margin: 10px auto;
}

@media(max-width: 980px){
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        padding-top: 80px;
        gap: 10px;
        padding-left: 0;
        padding-bottom: 80px;
        top: 90px;
        left: -850%;
        width: 100%;
        height: 60%;
        background-color: rgba(12, 1, 35, 0.7);
        flex-direction: column;
        align-items: center;
        transition: left 0.3s ease-in-out;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu.active li {
        margin-bottom: 10px;
    }

    .nav-menu.active a {
        margin-bottom: 10px;
    }

    .nav-menu.active .nav-item a {
        font-size: 30px;
    }

    .nav-menu.active .nav-item-current a {
        color: #cf82e2;
        font-size: 30px;
    }

    .nav-item-current {
        background-color: rgba(0, 0, 0, 0); /* Makes background transparent */
    }
}