@import url("hamburger.css");
@import url("rainbow-box.css");

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    cursor: default;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-item a {
    font-family: 'poppins-medium';
    font-size: 22px;
    color: #FFFFFF;
    transition: font-size .3s ease-in-out;
}

.nav-item-current a {
    font-family: 'poppins-medium';
    font-size: 22px;
    color: #FFFFFF;
    transition: font-size .35s ease-in-out;
}

.nav-item a:hover {
    font-size: 24px;
}

.nav-item-current a:hover {
    font-size: 24px;
}