body { /* Used to make the background black */
    background-color: #000000;
}

p { /* Used to make the general text color white */
    color: #FFFFFF;
}

#header-line {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent,#FFFFFF, transparent);
    position: relative;
}
