@import url("../font_imports/poppins-bold.css");

.main2 {
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.link-list { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    width: 80%;
    padding: 0;
    margin: 0;
    height: 100%;
    flex: 1;
}

.link-list li {
    background-color: rgb(98, 145, 159);
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 10px;
}

.link-list a {
    display: block;
    font-family: 'poppins-bold';
    font-size: 3vw;
    text-decoration: none;
    color: #FFFFFF; /* Text color for each link */
    text-align: center;
    padding: 10px 0;
}