.main1 h1 {
    font-family: 'poppins-bold';
    font-size: 10vh;
    color: #FFFFFF;
    text-shadow: 10px 10px 12px rgb(34, 0, 86);
    top: 50%;
}

.main1 {
    height: calc(100vh - 100px);
    background-image: url("../images/media/malice-front-sunny.jpg");
    /* background-image: url("../images/media/design-comp-group-12.jpg"); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}