/* TODO: Github Issue 19: Comment all code in this file */
/* TODO: Github Issue 24: Change Syntax throughout file. */

@import url("../font.css");

leads {
    min-height: 100vh;
    max-height: none;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

leads > div {
    display: inline-flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 45vw;
}

leads > div > h1 {
    font-size: 8vh;
    font-family: 'sdc';
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

leads > div > h1:not(:last-child) {
    margin-right: 2.5vh;
}

leads > leadcards {
    min-height: 76vh;
    width: 92vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    display: flex;
    height: 16vh;
    width: 16vh;
    background-image: url('../profile_images/blank.jpg');
    background-size: cover;
    border-radius: 50%;
}

#om {
    background-image: url('../profile_images/IMG_2186.jpg');
    background-size: 230%;
    border-radius: 50%;
    background-position: 30% 45%;
}

#lewis {
    background-image: url('../profile_images/lewis.jpg');
    background-size: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.r1 {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.r2 {
    display: inline-flex;
}

.r3 {
    display: inline-flex;
}

.card {
    margin-right: 10vh;
    border: 2px solid white;
}

.name {
    color: #FFFFFF;
}

.title {
    color: #FFFFFF;
}