/* TODO: Github Issue 19: Comment all code in this file */
/* TODO: Github Issue 24: Change Syntax throughout file. */

@import url("../font.css");

leads {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    display: flex;
    height: 10vh;
    margin-bottom: 1vh;
}

.section-title > h1 {
    color: #FFFFFF;
    font-family: 'sdc';
    font-size: 10vh;
    margin-top: 3vh;
    margin-bottom: 0vh;
}

leadcards {
    height: 86vh;
    margin-bottom: 3vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    height: 85%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.267);
}

.name {
    color:#FFFFFF;
    font-family: 'sora-regular';
    margin-top: 0vh;
    margin-bottom: 1vh;
    font-size: 1.35vw;
}

.position {
    color: #FFFFFF;
    font-family: 'sora-regular';
    margin-bottom: 0vh;
    margin-top: 1vh;
    font-size: 1.35vw;
}

.circle {
    display: flex;
    height: 16vh;
    width: 16vh;
    background-image: url('../profile_images/blank.jpg');
    background-size: cover;
    border-radius: 50%;
}

.section-title > h1:not(:last-child) {
    margin-right: 10px;
}