/* TODO: Github Issue 21: Comment all code in this file. */
/* TODO: Github Issue 25: Change syntax throughout file. */

@import url("../font.css");

roles {
    min-height: 100vh;
    max-height: none;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

roles > h1 {
    font-size: 8vh;
    font-family: 'sdc';
    margin-top: 0;
    margin-bottom: 0;
}

.cardscontainer {
    min-height: 76vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rolecards {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    min-height: 76vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rolecardslistitem {
    width: 32%;
    min-height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rolecontainer {
    background-color: #ffffff;
    min-height: 76vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    transition: background-color 0.4s ease;
}

.rolecontainer:hover {
    background-color: #6f6f6f;
}

.titlecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.roletitle {
    font-family: 'sdc';
    font-size: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1vh;
}

.closeroles {
    display: none;
    height: 6vh;
    width: auto;
    margin-right: .5vh;
    margin-top: .5vh;
    cursor: pointer;
    transition: 0.3s ease;
}

.closeroles:hover {
    height: 6.5vh;
    width: auto;
}

.contentcontainer {
    height: 60vh;
    width: 95%;
    margin-bottom: 2vh;
    display: none;
    border-radius: 3vh;
    background-color: aliceblue;
}

.contentinfo {
    height: 100%;
    width: 50%;
    display: flex;
}

.contentimage {
    height: 100%;
    width: 50%;
    display: flex;
    border-radius: 0vh 3vh 3vh 0vh;
}

#pusher {
    background-image: url("../media/pusher-card-image.jpg");
    background-size: cover;
    background-position: center;
}

#driver {
    background-image: url("../media/driver-card-image.jpeg");
    background-size: cover;
    background-position: center;
}

#mechanic {
    background-image: url("../media/mechanic-card-image.jpg");
    background-size: cover;
    background-position: center;
}

.blurb {
    font-family: 'sora-medium';
    font-size: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
}