@import url("fight.css");

html {
    background-color: white;
}

p {
    font-family: 'sdc-font';
}

body {
    margin: 0;
}

header {
    background-color: rgb(215, 215, 215);
    margin-top: none;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sdc-logo {
    height: 11vh;
    width: auto;
    margin-left: 2vw;
}

nav {
    margin-right: 4vw;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav > ul > li:not(:last-child) {
    margin-right: 15vh;
}

nav > ul > li > a {
    font-family: 'sdc-font';
    font-size: 5vh;
}

records {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

records > record:not(:last-child) {
    margin-bottom: -5vh;
}

records > record {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

records > record > div:not(:last-child) {
    margin-right: 3vw;
}

records > record > div > p {
    font-size: 2vw;
}

main {
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main > p {
    margin-top: 30.5vh;
    font-size: 12vh;
}

main #carrot {
    height: 4vh;
    width: auto;
}

leads {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

leads > p {
    margin-top: -2vh;
    padding-top: 0;
    margin-bottom: -2vh;
    font-size: 7vh;
}

#row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}

#row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}

#row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 1vw;
}

.card:last-child {
    margin-right: 0;
}

#row1 .card:first-child {
    margin-right: -40vw;
}

#row2 > div:not(:last-child) {
    margin-right: 10vw;
}

#row3 > div:not(:last-child) {
    margin-right: 10vw;
}

.card > p {
    font-size:3.1vh;
}

.card > p:not(:last-child) {
    margin-top: .5vh;
    margin-bottom: .6vh;
}

.card > p:not(:first-child) {
    margin-top: .6vh;
    margin-bottom: .5vh;
}

.card-circle {
    height: 17vh;
    width: auto;
}

.carrot-up,
.carrot-down {
    height: 4vh;
    width: auto;
}

.carrot-up {
    margin-top: 0;
}

.carrot-up {
    transform: scaleY(-1); /* Flip the carrot vertically */
}

roles {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

roles > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vh;
}

roles > div {
    width: 99vw;
    height: 80vh;
    margin-bottom: 1vh;
}

#role-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.role-card {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 181, 181);
    height: 80vh;
    width: 32vw;
}

.role-card > p {
    font-size: 7vh;
}
