@import url(fight.css);
@import url(header.css);
@import url(main.css);
@import url(leads.css);
@import url(roles.css);
@import url(join.css);

#sdc-logo {
    height: 10vh;
    width: auto;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: 'sdc-font';
}

a {
    font-family: 'sdc-logo';
}

body {
    margin: 0;
}

.carrot-up,
.carrot-down {
    height: 4vh;
    width: auto;
}

.carrot-up {
    transform: scaleY(-1);
}
