#main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

#main > p {
    margin-top: 35vh;
    font-size: 10vh;
}

#main > div {
    margin-bottom: 2vh;
}

#main > a > .carrot-down {
    margin-bottom: 2vh;
}