roles {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

roles > p {
    margin-top: -2vh;
    margin-bottom: -1vh;
    font-size: 8vh;
}

#role-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 98vw;
}

.role-card {
    height: 80vh;
    width: 32vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 181, 181);
}

.role-card > p {
    font-size: 10vh;
}